
html,body{
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    background-color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.poll-item-title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



.pulse {
  animation: pulse-animation 2s infinite;
	animation-delay: 2s;
}
.scale {
  animation: scale-animation 2s;
}

@keyframes scale-animation {
  0% {
 transform: scale(0.5, 0.5);
	  
  }
  100% {
   transform: scale(1, 1);
  }
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
	  
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
}